body {
	font-family: Arial, sans-serif;
	background-color: #fafafa;
	margin: 40px;
   
}

h1 {
	color: #b22222;
}

form {
	background: white;
	padding: 20px;
	width: 300px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
	display: block;
	margin-top: 10px;
}

input {
	width: 93%;
	padding: 8px;
	margin-top: 5px;
}

button {
	margin-top: 15px;
	background: #b22222;
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
}

button:hover {
	background: #8b1a1a;
}